.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.login-heading {
  color: #374151;
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.form-container {
  display: flex;
  margin-bottom: 6rem;
  flex-direction: column;
}
.heading-label {
  margin: 0.25rem;
  color: #374151;
  font-size: 1rem;
  line-height: 1.5rem;
}
.input-box {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0.25rem;
  width: 18rem;
  height: 2.5rem;
  border-radius: 0.125rem;
  border-color: gray;
}
.button-login {
  padding: 2px 5px;
  background-color: rgb(191, 191, 218);
}

.mouse-pointer {
  cursor: pointer;
}
